# Disaster Response ETL Pipeline
> Perform ETL on categorized message data.

The goal of the disaster response project is to process and flag (categorize) messages received during a disaster response. 

This notebook contains code to perform ETL on raw message data to be used for training. It consists of 2 parts:
1. Interactive development of an ETL pipeline
2. Code cells to test and generate a Python script to perform the ETL developed in the first part in production. *Python script generation is done using [nbdev](https://github.com/fastai/nbdev)*.

## Interactive Development

### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [ ]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
import os

In [ ]:
# Change directory to the data directory, relative to the directory containing this .ipynb
os.chdir('data')

In [ ]:
# load messages dataset
messages = pd.read_csv("messages.csv")
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [ ]:
messages.genre.value_counts()

news      13068
direct    10782
social     2398
Name: genre, dtype: int64

In [ ]:
# load categories dataset
categories = pd.read_csv("categories.csv")
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

Before merging, are the ids in each dataset unique?

In [ ]:
def dup_counts(df, cols):
    """Find duplicate rows in `df`, considering the columns with names in the list 'cols`.
    
    Return:
     - A dataframe containing the values of `cols` for which there are multiple rows, and 
     the multiple row count in column 'count'.
    """
    df_gb = df.groupby(cols).size().reset_index().rename(columns={0:'count'})
    df_dups = df_gb[df_gb['count'] > 1]
    return df_dups

In [ ]:
(dup_counts(messages, 'id').shape[0],
 dup_counts(messages, ['id', 'message']).shape[0],
 dup_counts(messages, ['id', 'message', 'genre']).shape[0])

(67, 67, 67)

In [ ]:
dup_counts(messages, ['id', 'message', 'original', 'genre']).shape[0]

31

In `messages`, there are 67 rows with the same values for columns 'id', 'message', 'genre'. The number of duplicates drops to 31 if we also consider the `original` column.

In [ ]:
# Check for duplicates in categories
dup_counts(categories, 'id').shape[0]

67

In [ ]:
dup_counts(categories, list(categories.columns)).shape[0]

31

In [ ]:
categories.shape[0], messages.shape[0]

(26248, 26248)

Since the duplicate counts for `categories` matches those for `messages`, it appears that these two dataframes were split from one another for the purpose of this exercise. 

We have no way of knowing which of the categorizations for a given message are more accurate, so for now we will retain all this data. After the join of `messages` and `categories`, we can remove any duplicates. This will still allow the possibility that the training data will have multiple training instances for a given message, with differing categorizations. Each of the provided classifications will contribute to the training.

If it were possible to redesign the categorization process, it would make sense to ensure that the `messages` data does not contain duplicates before generating categorizations.

-------------

In [ ]:
# merge datasets
df = messages.merge(categories, on='id')
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [ ]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(';', expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [ ]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
category_colnames = [s[:-2] for s in row]
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [ ]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series.

In [ ]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str[-1]
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Verify values in columns
for col in categories:
    print(col)
    print(categories[col].value_counts())
    print()

related
1    20042
0     6140
2      204
Name: related, dtype: int64

request
0    21873
1     4513
Name: request, dtype: int64

offer
0    26265
1      121
Name: offer, dtype: int64

aid_related
0    15432
1    10954
Name: aid_related, dtype: int64

medical_help
0    24287
1     2099
Name: medical_help, dtype: int64

medical_products
0    25067
1     1319
Name: medical_products, dtype: int64

search_and_rescue
0    25661
1      725
Name: search_and_rescue, dtype: int64

security
0    25915
1      471
Name: security, dtype: int64

military
0    25523
1      863
Name: military, dtype: int64

child_alone
0    26386
Name: child_alone, dtype: int64

water
0    24702
1     1684
Name: water, dtype: int64

food
0    23430
1     2956
Name: food, dtype: int64

shelter
0    24044
1     2342
Name: shelter, dtype: int64

clothing
0    25976
1      410
Name: clothing, dtype: int64

money
0    25780
1      606
Name: money, dtype: int64

missing_people
0    26085
1      301
Name: missing_people, dtype: int64

refugees
0    25506
1      880
Name: refugees, dtype: int64

death
0    25182
1     1204
Name: death, dtype: int64

other_aid
0    22922
1     3464
Name: other_aid, dtype: int64

infrastructure_related
0    24677
1     1709
Name: infrastructure_related, dtype: int64

transport
0    25174
1     1212
Name: transport, dtype: int64

buildings
0    25041
1     1345
Name: buildings, dtype: int64

electricity
0    25848
1      538
Name: electricity, dtype: int64

tools
0    26227
1      159
Name: tools, dtype: int64

hospitals
0    26103
1      283
Name: hospitals, dtype: int64

shops
0    26266
1      120
Name: shops, dtype: int64

aid_centers
0    26077
1      309
Name: aid_centers, dtype: int64

other_infrastructure
0    25231
1     1155
Name: other_infrastructure, dtype: int64

weather_related
0    19043
1     7343
Name: weather_related, dtype: int64

floods
0    24209
1     2177
Name: floods, dtype: int64

storm
0    23922
1     2464
Name: storm, dtype: int64

fire
0    26104
1      282
Name: fire, dtype: int64

earthquake
0    23925
1     2461
Name: earthquake, dtype: int64

cold
0    25853
1      533
Name: cold, dtype: int64

other_weather
0    25007
1     1379
Name: other_weather, dtype: int64

direct_report
0    21273
1     5113
Name: direct_report, dtype: int64

While most columns have values in {0, 1} indicating false/true, the 'related' column has values from the set: {0, 1, 2}.
    
I didn't find documentation that explained this, so I investigate further after rejoining these columns with the rest of the 
dataset. See section **Evaluate Dataset for Additional Cleaning**.

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [ ]:
# drop the original categories column from `df`
df = df.drop('categories', axis=1)

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [ ]:
# concatenate the original dataframe with the new `categories` dataframe
df = df.join(categories)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Evaluate Dataset for Additional Cleaning

In [ ]:
# Verify there are no null values
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26386 entries, 0 to 26385
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      26386 non-null  int64
 1   message                 26386 non-null  object
 2   original                10246 non-null  object
 3   genre                   26386 non-null  object
 4   related                 26386 non-null  int32
 5   request                 26386 non-null  int32
 6   offer                   26386 non-null  int32
 7   aid_related             26386 non-null  int32
 8   medical_help            26386 non-null  int32
 9   medical_products        26386 non-null  int32
 10  search_and_rescue       26386 non-null  int32
 11  security                26386 non-null  int32
 12  military                26386 non-null  int32
 13  child_alone             26386 non-null  int32
 14  water                   26386 non-null  int32
 15  food                    26386 non-null  int32
 16  shelter                 26386 non-null  int32
 17  clothing                26386 non-null  int32
 18  money                   26386 non-null  int32
 19  missing_people          26386 non-null  int32
 20  refugees                26386 non-null  int32
 21  death                   26386 non-null  int32
 22  other_aid               26386 non-null  int32
 23  infrastructure_related  26386 non-null  int32
 24  transport               26386 non-null  int32
 25  buildings               26386 non-null  int32
 26  electricity             26386 non-null  int32
 27  tools                   26386 non-null  int32
 28  hospitals               26386 non-null  int32
 29  shops                   26386 non-null  int32
 30  aid_centers             26386 non-null  int32
 31  other_infrastructure    26386 non-null  int32
 32  weather_related         26386 non-null  int32
 33  floods                  26386 non-null  int32
 34  storm                   26386 non-null  int32
 35  fire                    26386 non-null  int32
 36  earthquake              26386 non-null  int32
 37  cold                    26386 non-null  int32
 38  other_weather           26386 non-null  int32
 39  direct_report           26386 non-null  int32
dtypes: int32(36), int64(1), object(3)
memory usage: 5.9+ MB

In [ ]:
df.genre.value_counts()

news      13054
direct    10766
social     2396
Name: genre, dtype: int64

#### Multiple Classes in 'related' column

We saw in section **Convert category values to just numbers** that while most columns have values in {0, 1} indicating false/true, the 'related' column has values from the set: {0, 1, 2}. 

What is the character of the messages in each of the categories of the 'related' column?

In [ ]:
for r_val in [1, 0, 2]:
    print(f"\n============= val: {r_val} =============")
    sub_df = df[df.related==r_val]
    for ind in range(80):
        print(sub_df.message.iloc[ind])

============= val: 1 =============
Weather update - a cold front from Cuba that could pass over Haiti
Is the Hurricane over or is it not over
Looking for someone but no name
UN reports Leogane 80-90 destroyed. Only Hospital St. Croix functioning. Needs supplies desperately.
says: west side of Haiti, rest of the country today and tonight
Storm at sacred heart of jesus
Please, we need tents and water. We are in Silo, Thank you!
I am in Croix-des-Bouquets. We have health issues. They ( workers ) are in Santo 15. ( an area in Croix-des-Bouquets )
There's nothing to eat and water, we starving and thirsty.
I am in Thomassin number 32, in the area named Pyron. I would like to have some water. Thank God we are fine, but we desperately need water. Thanks
Let's do it together, need food in Delma 75, in didine area
More information on the 4636 number in order for me to participate. ( To see if I can use it )
A Comitee in Delmas 19, Rue ( street ) Janvier, Impasse Charite #2. We have about 500 people in a temporary shelter and we are in dire need of Water, Food, Medications, Tents and Clothes. Please stop by and see us.
We need food and water in Klecin 12. We are dying of hunger. Impasse Chretien Klecin 12 extended ( extension ) We are hungry and sick.
I would like to know if the earthquake is over. Thanks
I would like to know if one of the radio ginen Journalist died?
I'm in Laplaine, I am a victim
There's a lack of water in Moleya, please informed them for me.
Those people who live at Sibert need food they are hungry.
I want to say hello, my message is to let you know that there's an area in faustin Anhy street that has nothing neither food, water and medicine,
People I'm at Delma 2, we don't anything what so ever, please provide us with some food, water, and medicine
We are at Gressier we needs assistance right away. ASAP, Come help us.
How can we get water and food in Fontamara 43 cite Tinante?
We need help. Carrefour has been forgotten completely. The foul odor is killing us. Just letting you know. Thanks!!
We have a lot of problem at Delma 75 Avenue Albert Jode, those people need water and food.
People have been sleeping outdoors in a field near Lilavois since 12 Jan. No coords on Lilavois but apparently it is near PaP
We want you to know that Carrefour need help, we starving to death.
How we can find food and water? we have people in many differents needs, and also for medicine at Fontamara 43 cite Tinante.
Delmas 33 in Silo, need water.
I would like to get help at Cote Plage in Carrefour
I am in Leoganes, where can I get food? Please
The Comite Miracle in the area of Alerte Rue Monseigneur Guilloux, ( Streets, Alerte and the cross street is Mgr Guilloux ) would like to urgently receive food, water and tents for the people in that area. Thanks
People from Dal blocked since Wednesday in Carrefour, we having water shortage, food and medical assistance.
In Jacmel it's not working at all, because people are dying of hunger.
We have no one everybody is dead.
We don't talk about Petit-Goave, Please, look into Petit-Goave.
Good evening, is the earthquake end?
People in Fontamara 27 in impass area Pierre Louis having lots of difficulties, please help, ASAP.
Good evening, I congratulate you for all the good work and with strenght i'm listening from Matisan 1, we have water and food shortage but God provided his grace upon us.
how can we find aid and food in fontamara ( carrefour )
Am listening to radio in Jacmel. Need help to remove dead bodies at Colege la Trinite-universite, the bodies are the professors and students
People from Jacmel are requesting a tractor in that area because there is a civil unrest and social disturbance in that area.
Im asking a general prayer for the country of Haiti.
We are at KF Marotiere 85, we have food and water shortage, please send food for us.
What's up? I would like to know how the Arab is doing.
I am listening to radio wa in jacmel. I am asking for help to remove the dead bodies under La trinite college situated at university inasmo. The dead bodies are those of students and teachers
In which transfert house does someone abroad has to go to send money to haiti
For your information, There are people that are found in the rubbles of the School of Trinite, ( L'Ecole Sainte Trinite ) in Jacmel. Cookies brought to them by Colombian dogs are keeping them alive.
When can we get some help in Jacmel?
How can we find help and food in fontamara 43 rue menos
SOS SOS, please provide police officers on the streets as they are very insecure
.. .. . we are here our mother has no more water. if you are there let us know ( location not provided )
People needing water with baby Location : Beach 24
help is needed in fond parisien, no idea where that is, but any haitian can tell you
We're asking for water, medical supply, food
My home is at Gressier, it has almost collapsed. I would like to distroy it before it collapses completly.
would like to know where food and water are being distributed. ( location not provided )
We are seven in the house. Located betwenn Musso and Juvenat. Dyobel-Dyobal. .. not sure The rest of the information is not clear.
He is a pastor and an interpreter seeking to help response teams.
we have problem at Paco Lazon this is General Police Department we want you to know we almost out of food and water.
We are in Sainte Bernadette. There are 2 areas that have not received anything. We are buying water ( warm ) for 5 gourdes.
I would like to communicate with my family I don I t have any minutes on my cell phone please help
some people are sleeping outside on a field at Lilavois 50 and are dying of hunger since January 12th.
Friend I dont know what is going on with you for I hear of what is going on but i have not hear any news about you. I hear what happen Carrefour and petion-Ville
i'm asking for help to this valley especially Santo, Sath, B
I am a driver, a mechanic ,. I want to help
a lot and we don't have any news of him. We haven't even found a body so we could at least know he is dead. The hospitals need to be checked and the registry books also. Please help us!! ( This seems to be the end of another message )
We have a big problem in Jacmel, we left Port-au-Prince without food, clothes and money. we are really in a critical situation.
We would like to receive some help in the Section Communale. There is a lot of violence.
A cold front is found over Cuba this morning. It could cross Haiti tomorrow. Isolated rain showers are expected over our region tonight.
Please we need help, food and toiletries.
A weather forcast. . of a cold front in cuba and could pass through haiti by night..
food water mediacation, we dont have tents to protect our selves, i am using my cistern. lovation not provided
The ADJS group house in Jacmel. They are talking with people in the southeast. There are a lot of victims and people suffering, especially in Jacmel. Something about an entire house collapsing. The road sot pop in Jacmel is cut off.
This is a request that the aid services not forget the south-east region because there are a lot of victims and people suffering there. A number is given.
Where can people in Fort Mercredi can find food and water?
( im taking a guess at this sorry its a mix of creole and french. sms.) message as i understand. whos close to mounn fort mercredi  food and water is running low. because there is a problem with people hurt. please help us.
We are at Fort Mercredi ( wednesday ) where can we find tents and treated water.
whos next to fort mercredi i would like food and water please
The wounded in the Saint Michely hospital have no medicine. (This looks like part of a message that got cut off)

============= val: 0 =============
Information about the National Palace-
I would like to receive the messages, thank you
I am in Petionville. I need more information regarding 4636
are you going to call me or do you want me to call ou? let me know?
I don't understand how to use this thing 4636.
Can you tell me about this service
Good evening, Radio one please. I would like information on Tiyous.
I'm here, I didn't find the person that I needed to send the pant by phone
I'm listening to you at Miraguan we asking the government to take change because one gallon gas is 80.
i am very happy, i hear god, religious hyme
I would like to know how food is distributed.
I can play carnaval Anbasad Camp there I think this is a simple comment about a creole rap group - Anbasad Camp. Does not refer to location or read as a cry for help. TK
ples give us cell cards ( cell phone minuts ) we cannot find cell phone cards to buy
Whoever sees her in the streets : she was wearing a white denim skirt and a printed black t-shirt and her hair is in a cornrow do.
good people help us. god bless you and us too
Digicel let me go through, it's an emergency
Where can I find Capital Bank please?
URGENT ACTION NEEDED --this is follow up from previous SMS in regards to possible delivery... possible to deliver my baby in an other country, does not matter what it is..
Please add airtime on my phone. Thanks
City that i'm near is Port-au Prince for me 'm at Titanyen
I don't know Rue du Muguet, Route de Desprez 7. Is there another location on the Airport Road?
We have a commitee from Santo 15 nameAjeans: Youth Association in action for a new society that was founded in September 2009, the president is..
What time will the American Embassy open tomorrow?
Is it true that the political city will held in Hinche?
in what field would you need me to speak creole. French, half english, ( MW? )
Where can I find a car to leave in?
Can someone who has a visa travel out. What can he do?
I know of an internet service in Croix des Bouquets, Falaise Street. The more important would be to open wireless zones for everyone that has laptops
Send me some minutes for my phone
Please, what can you do for us. We do not have anything.
miques, antihitamines, diapers, folic acid, antifungus, vitamin C, feminine pads, vaginal solutions, klorox, disinfectants..
I come back and nothing is the same my clothes are not there for me to put on
Digicel, please put some credit on our phones
The manager of digicel phone compagny sent out phone cards for his clients
I want to make a call, I can't, there is a crowd of my relatives and I cannot hear, do me a favor please
their is someone that left their home and never remembered to call their family, they will never know what happen
I was in Port-au-Prince and went to the north-west department. I want to know if internet is working in port-au-prince. Thank you. Let's keep contact
I have no card, tell me what kind of SMS I need to send
Around my house, there are no cyber cafe for me to use
so, in the message you spoke of registering names. I'd like to know what purpose this serves. help me out. thank you
I am not in port au prince, I am in Limbe do you know a place where there is working Internet
no cybercafe working close to where i live
Artists that have died, those who are wounded and those whom have disappeared I will be naming them today, there are more than 6 radios like Radio One, Radio Signal Fm, Maximum Caraib Fm, Lumiere etc
Telenet Internet Cafe on Plaisance's old building space hello digicel communication
the cyber cafe that is functioning is SERVICE MATICS the address is in front of the BRASSERIE LA COURONNE.
K aTIS RAP CREOLE. CONTACT ME FAST. FAST VIA SMS OR CALL URGENT it is very very important because it today im gonna do wats I got to do over the bariers am allready waiting
there are no rooms at the mayors office that have internet access
this sms is only giving you an address not much detail. . / 2 cyber cafe route of frere. . a litle under where the jumbala night club is..
We have the internet at the Internet Cafe by Ti Place Cazeaux
MY PHONE HAS NO MINUTE CARD I CANT SEND ANY MESSAGE I WOULD NEED INTERNET I CANT CALL THE PERSON THAT COULD SEND THE MESSAGE.
cyber cafe global univercell cabaret 35 km from port au prince
i need a card to call my family.
the closest cyper cafe is express nety in croix des bouquet befog the police station. TN 4th message i translate advertising a cyper cafe
i need a litle credit on my count
I don't know the address at all because I just came from Jeremie
There's only one cybercafe in the town called MOLE
i salut you for all you are doing to help us now. this is actually for the adress of a ciper cafe that is working. i will send it later. TN we had several messages about this yesterday. i suspect this is guy is advertising that he is up and running.
The address is new life bo kay in St Fille
NET ONE WIT LATORTUE IS FUNCTIONING IN THE ZONE OF DEKAWO. FREDO NET AP F
The prices have doubled for food in Mole Saint Nicolas. A cup of Corn is 45 Gdes now.
We don't have working cyber in our region
hard because everything is sold sky high. Small rice tin can is sold for 40Gourdes 40Gourdes a roughly 1. 00 US
there's a problem with the signal which blocks transactions
GOOD DAY DIGICEL GIVE ME A CHANCE SO I CA CALL SOMEONE PLEASE
GOOD DAY! SWEETHEART I LOVE YOU FOREVER BABY
GOOD DAY DIGICEL I DONT KNOW UR WEB ADDRESS
HELLO MOM CALL ME BECAUSE I CANNOT GET THROUGH..
BRA BALANSE PLEASE THINK ABOUT ME THANK YOU IN ADVANCE
I CAN'T GET THROUGH ANY OTHER PHONES BUT DIGICEL
I'M IN FRONT OF THE EMBASSY CALL ME
please, which cyber cafe is in service? no other information noted within text.
can you inform me of any Transfer bureau that is currently functionning?? because i have and urgency
self eplanatory. read text msg.
Goodday, there is a cybercafe that is available on Route National #1 near the corner of Vincent
thank you for the follow up you will give this message and it is important that I tell you that I
I speak French very well, I speak Spanish very well, I speak ( no other information )
Digicel please i cannot make phone calls, see what you can do for me
what cyber cafe's are working?
send me the info for the croix des bouquets please
I am located in Route Freres- Impasse Fortin. .. A bit further than the Granit Market

============= val: 2 =============
Dans la zone de Saint Etienne la route de Jacmel est bloqu, il est trsdifficile de se rendre  Jacmel
. .. i with limited means. Certain patients come from the capital.
The internet caf Net@le that's by the Dal road by the Maranata church ( incomplete )
Bonsoir, on est a bon repos aprs la compagnie teleko sur la route a droite de l'impasse Roger colas aprs la 9e maison sur la main droite de la rue, on est environ 30 personnes sur un. ..
URGENT CRECHE ORPHANAGE KAY TOUT TIMOUN CROIX DES MISSIONS IMPASSE BALEV BUTTE BOYER MANQUE EAU ET NOURRITURE N ONT VU AUCUN SECOURS DEPUIS 8 JOURS HELP HELP
elle est vraiment malade et a besoin d'aide. utilisez mon numero de tlphone pour obtenir plus de renseignements. Nous attendons une reponse. Aucun numero fourni par contre.
no authority has passed by to see us. We don't have a place t sleep ( incomplete )
It's Over in Gressier. The population in the area - Incomplete
we sleep with the baby. Thanks in advance for the help you will bring us. ( incomplete )
I need help in Jrmie because I was in Port-au-Prince in university I am counting on you.
fsa pou mwen s v p map mouri mwen gen tout po blem ede m a do that for me plz. I'm dying. I have all sorts of problems. Help me
.. Gonaives, in a place called Canal Bois in French. i'm writing this message just to..
GEN YON TIBEBE KI MALAD NAN KOU PASKE BLOK TONBE SOU LI. MEN DIREKSYON AN LEW RIVE NAN VIL LEYOGAN WAP MONTE NAN WOUT DABON LEW RIVE NAN KAFOU DABON WAP VIRE NAN BO KKOTI YZIN NAN. WAP JWENN YON KAFOU LEW RIVE PIDEVAN WAP WE SANT CEFECAC LA. OUBYEN LEW NAN WOUT WAP RELEM EPI MAP PRAN YON MOTE POUM VIN CHAC
don't understand the first part. .. understanding. We are waiting for your response
Est-ce que ya monde qui aller U. s. a et qui ont tomoin qui Americain Are there people who are going to US and that have witness that is american
Gens ont information qui dit que si on moins citoyens americains vit ici l que tout aller ok tout le monde vite fil pour qu'on essaie survivre. People have information that say that if american citizens live here that all will be ok and that everyone ( could be the world ) hurrying to try to make us survive.
This is my address : Cersine 8 Prolong. .. .
I would like to have some information on the last disaster
No location : Ou se trouve l'ambassade du Sngal en Haiti
Je veux savoir comment je peux obtenir de l'aide pour mon orphelinat situ  Delmas 31, svp dites-moi ce que je dois faire
142, Ruelle Beaulieu, Mon Repos 44 Carrefour
. ..  Esdras. Address : Solidarit Village, Toussain Louverture Street 83A!
Route des dalles prolonges #277 after Morne Jean-Pierre, thank you do. ..
we are in rue Dessalines Petit goaves and it necessary to..?
I am very happy to get the messages that tell me about the precautions I have to take. Thank you very much, If you could make it so that food comes my way it would be good because ..
mouin vle kite ayiti depi kek jou.
Mwen ta renmen jwenn yon djb. ske gen posiblite pou mwen jwenn li? Kisa ou ka f pou ede mwen? Mwen bezwen savis ou.
(Delmas 33 Charboniere infomatyon s'il vous plait.)
Carrefour Feuille rue Mgr Prol # 39
Ede m nan lort pou genyen yon bourss
mwen ta renmen gen enfmasyon sou siklyn nan peyi mwen
jel2  Acte 5: 29 2chr7 Lev11 Ecl9 Ecl4 jos5 ch102kr Es59
I'd like to know after this drama, will there be anywhere that I may see a psychologist, who maybe available because I have
gjm.adgjmpgjm.adgjmgjmgjmgjmgjmgkmptwptwptwptwptwptwptwptwptwptwpwptwptwgjmgjmgjmad.ad.ad.ad.d.ad.d.da.d.ad.ad.ad
are what the imigration restarts has make of them pass-port for people that not of pass-port
mwen besoin dlo avek mange na zon bon repos, lilavois
Damocles!Hracles!Philockles!Hyphocles.!yayecles!zigzacles!domagecles!lucles!77h
The SMS:  Evitons 2 traiter 1 tas bLaissons 2 cot 7 kesyon. Ke tu sois direct tais notre mach conclus 2 c matin. J't'attends
Midi Estimene:rue Lambert Prolongee and rue Merilus #4 (Petion-ville)
Amoni se Richi: Rue Raphael et Cerisier (Petion Ville)
 9GeQYeYGQEQtm
annot ni batiman dada cheri se pwason ni ou ni manmi w ni keti renmen an pil la wi se yon gro rat at yon gro kwapo kitap batay lasirne f tranf pou tou
0H 8@@ @2x @e8x3 xr
http://wap.sina.comhttp://wap.sina.com
Wesantyahoo.fr.Pepayisenyahoo.fr
//// // @:@
NOTES: this message is not complete
f k yo ap mal viv nan ansagal lagonav.msi.
8 @9q@@  5 m) 1A a!a ?aCYCLONE
/''''''''@''''''''''''''''@ @''''' michou )) ''''''''''''cyclone.
I@UU#UTGa UTUUUXU  UU@UU@UUp U.
Good evening to all parts of the United Nations so I remsiw Adra, Spain because I see something to bring 250 people found the four towels soap Cink had a six ice all very much pleased the United Nations kounya other things I'm waiting for luggage next to Always on baylode.
Pal kraze preval di pa gen pwoblem, pal jistis kraze preval di sa te dwe kraze 2ja paske pat janm gen jistis, yo di kleren lakay ak rhum barbancourt kraze preval met 2 men nan tt li rele anmwey pa gen peyi ank.
0Tranbleman t aH 8@@ @2x @e8x3 xr    ' Gv?e?0
The SMS:  Rezilta Bak la sot bay 12 Janvye a nan lekl la vi a. Men kman l tonbe: Moun ki mouri nan dezobeyisans yo: Elimine Moun ki mouri anba pouvwa Bondye yo: Admi e rs moun ki rete yo ajoune. Pa bliye egzamen moun ajoune yo p'ap two lwen pou'l ft, degaj
Aa.Bb.Cc.Dd.Ee.Ff.Gg.Hh.Ii.Jj.Kk.Ll.Mm.Nn.Oo.Pp.Qq.Rr.Ss.Tt.Uu.Vv.Ww.Xx.Yy.Zz.KERLANGE.
3 mamit chabon,4 dola poban,kart,pn 2 t,kreson,tomat.
Mato30 Nivo60 Tiwl30 Ficel22 Ek49
Bonjou fr Louko mwen se simon st.pierre map koute radio 1 nan boukan-chat map mandew svp pouw salye moun sayo pou mwen: Eunide Elissain, wiskender st.pierre,et jesual st.pierre,alyas pipirit, kap koute radyo a chapotin. Msi.
2O TRI PYE, 5 POIRO, 2GD PESI, 1OMORU, 5LAY3DOLA SITWON
Prcaussion cons of the aspen earth
Zb rmd : dl 2, dl rep, dl chase
Zb rmd : dl c.lve dl 2, dl rep, dl chase.
please, we would like to know if itis true thereas in the moment.

It seems that the 'related' value is 1 if the message is related to some disaster, and 0 otherwise. Messages with 'related' val = 2 include also untranslated messages and miscellaneous garbage.

Let's look at the values of the other categorization columns for each of the 3 values for 'related'.

In [ ]:
# mean number of other flags per row when 'related' col val = 1
df[df.related==1].loc[:, 'request':].sum(axis=1).mean()

3.16693459258515

In [ ]:
# mean number of other flags per row when 'related' col val = 0
df[df.related==0].loc[:, 'request':].sum(axis=1).mean()

0.0

In [ ]:
# when 'related' col val = 2, none of the other flags are turned on.
df[df.related==2].loc[:, 'request':].sum(axis=1).sum()

0

**Conclusion:** Other categorization flags are on (= 1) for a row only if that row has a value of 1 for 'related'.

#### Change 'related' column values to be either 0, 1

In [ ]:
# encode all non-related entries as 0, so we have 1 for related, 0 for non-related
df.related = df.related.replace(2, 0)

In [ ]:
df.related.value_counts()

1    20042
0     6344
Name: related, dtype: int64

### 6. Remove duplicates.
- Check how many duplicates are in this dataset
- Drop the duplicates.
- Confirm duplicates were removed.

In [ ]:
# check number of duplicates

In [ ]:
def n_dup_rows(df, cols):
    """Return the number of rows in `df` that are duplicates, when considering columns `cols`."""
    return dup_counts(df, cols)['count'].sum()

In [ ]:
df_cols = list(df.columns)
print(df_cols)

['id', 'message', 'original', 'genre', 'related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [ ]:
# Number of duplicate rows, considering all columns
n_dup_rows(df, df_cols)

124

In [ ]:
# Number of duplicate values in column 'id'
n_dup_rows(df, ['id'])

273

In [ ]:
# Number of duplicate values in column 'message'
n_dup_rows(df, ['message'])

277

In [ ]:
# number of duplicate rows, when not considering columns used in learning: ['id', 'original', 'genre']
subset_cols = df_cols
subset_cols.remove('id')
subset_cols.remove('original')
subset_cols.remove('genre')
n_dup_rows(df, subset_cols)

275

**Drop Duplicates**

The input to our classification is the 'message' column, and the 'original' column will not be used as an input to the classification. Exclude the 'original' column from the columns for consideration as duplicates so that when we drop duplicates for `df`, we will have multiple rows for a message only if the categorizations differ. (If we considered two or more rows as non-duplicate if they differed only by the 'original' column, that would amount to having multiple identical training instances, and there is no good reason for this overweighting of this instance.)

In [ ]:
# drop duplicates
df = df.drop_duplicates()

In [ ]:
# check number of duplicates
n_dup_rows(df, list(df.columns))

0

In [ ]:
# Number of duplicate rows, considering only columns used in learning
n_dup_rows(df, subset_cols)

2

In [ ]:
dup_counts(df, subset_cols)

,message,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report,count
175,#NAME?,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2

In [ ]:
df.shape

(26216, 40)

In [ ]:
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [ ]:
engine = create_engine('sqlite:///CleanedMessages.db')
df.to_sql('CategorizedMessages', engine, index=False, if_exists='replace')

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.

In [ ]:
!ls data

CleanedMessages.db
categories.csv
messages.csv
test_save.db

## ETL Script for Production `process_data.py`
Develop and test code here; export to `process_data.py` using nbdev.

In [ ]:
# default_exp process_data

In [ ]:
#hide

# Do this to see possible %nbdev_ magics
from nbdev import *

from fastcore.test import *

In [ ]:
#export

import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import sys

In [ ]:
#export

def load_data(messages_filepath, categories_filepath):
    """Load message and category data from the specified filepaths.
    
    Args:
     - messages_filepath (str): path to messages csv file
     - categories_filepath (str): path to categories csv file
     
    Returns:
     - DataFrame of the two datasets, joined on 'id'.
    """
    messages = pd.read_csv(messages_filepath)
    categories = pd.read_csv(categories_filepath)
    return messages.merge(categories, on='id')

Example call to `load_data()`:

In [ ]:
loaded = load_data("messages.csv", "categories.csv")
loaded.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [ ]:
#export

def clean_data(df):
    """Clean the loaded messages and categories data.
     Convert 'categories' column string into a set of numeric columns, and remove duplicate rows.
     
     Arg:
      - df: DataFrame containing data loaded by load_data()
      
     Returns:
      - DataFrame of cleaned data.
     """
    # Categories are in a single string column; create a dataframe with a column for each category
    categories = df.categories.str.split(';', expand=True)
    
    # select the first row of the categories dataframe
    row = categories.iloc[0]
    # use this row to extract a list of new column names for categories.
    category_colnames = [s[:-2] for s in row]
    # rename the columns of `categories`
    categories.columns = category_colnames
    
    # convert category values to numbers
    for column in categories:
        # set each value to be the last character of the string
        categories[column] = categories[column].str[-1]

        # convert column from string to numeric
        categories[column] = categories[column].astype(int)
        
    # related column has values (0, 1, 2)
    # encode all non-related entries as 0, so we have 1 for related, 0 for non-related
    categories.related = categories.related.replace(2, 0)
    
    # replace original category string values with numeric columns
    df = df.drop('categories', axis=1)
    
    # concatenate the original dataframe with the new `categories` dataframe
    df = df.join(categories)
    
    # remove duplicates
    return df.drop_duplicates()

Example call to `clean_data()`

In [ ]:
cleaned = clean_data(loaded)
cleaned.head(3)

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
expected_cols = ['id', 'message', 'original', 'genre', 'related', 'request', 'offer', 'aid_related', 
                 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 
                 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 
                 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 
                 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 
                 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 
                 'direct_report']
assert expected_cols == list(cleaned.columns)

In [ ]:
#hide

# Tests to validate types of columns

assert cleaned.dtypes['id'] == np.dtype('int64')

assert type(cleaned.iloc[0].loc['message']) == str
assert type(cleaned.iloc[0].loc['original']) == str
assert type(cleaned.iloc[0].loc['genre']) == str

# Verify the values of all the category columns are in {0, 1}
categs = cleaned.loc[:, 'related':]
for col in categs.columns:
    assert(set(categs[col].value_counts().index).issubset(set([0, 1])))

In [ ]:
#export

def get_engine(database_filename):
    """Return database engine given database filename."""
    return create_engine(f'sqlite:///{database_filename}')

def save_data(df, engine):
    """Save the specified DataFrame as table 'CategorizedMessages' to specified database `engine`."""
    with engine.connect() as connection:
        df.to_sql('CategorizedMessages', connection, index=False, if_exists='replace')

Example calls to `get_engine()`/`save_data()`

In [ ]:
# small datframe to test saving
test_df = cleaned.iloc[:5]

# save the dataframe
engn = get_engine("test_save.db")
save_data(test_df, engn)

In [ ]:
#hide
# Test reading the dataframe back in again
with engn.connect() as conn:
    written_test = pd.read_sql('CategorizedMessages', conn)

written_test.head(3)

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
#hide
# Verify that the re-read dataframe looks correct
assert list(written_test.columns) == expected_cols
assert written_test.shape == (5, 40)

---

In [ ]:
# exporti

def main():
    if len(sys.argv) == 4:

        messages_filepath, categories_filepath, database_filepath = sys.argv[1:]

        print('Loading data...\n    MESSAGES: {}\n    CATEGORIES: {}'
              .format(messages_filepath, categories_filepath))
        df = load_data(messages_filepath, categories_filepath)

        print('Cleaning data...')
        df = clean_data(df)
        
        print('Saving data...\n    DATABASE: {}'.format(database_filepath))
        engine = get_engine(database_filepath)
        save_data(df, engine)
        
        print('Cleaned data saved to database!')
    
    else:
        print('Please provide the filepaths of the messages and categories '\
              'datasets as the first and second argument respectively, as '\
              'well as the filepath of the database to save the cleaned data '\
              'to as the third argument. \n\nExample: python process_data.py '\
              'disaster_messages.csv disaster_categories.csv '\
              'DisasterResponse.db')

        
# Don't run main() when this cell is run in a notebook; use try so exported module
# has no dependency on nbdev
try: from nbdev.imports import IN_NOTEBOOK
except: IN_NOTEBOOK=False

if __name__ == '__main__' and not IN_NOTEBOOK:
    main()